{%extends "components/layout.html"%}
{%block sub_title%}Homepage{%endblock%}
{%block content%}

{%include "components/navbar.html" %}

<h2>SMART PARK PRO</h2>
<P>Smartpark pro is an IOT-Bsed smart parking reservation system that keep users actual need in mind. It empowers user with
    an exclusive and innovtive fetures with user-centric development approach
</P>
<p> Features of SMART PARK PRO</p>
<P>Advanced booking- this features helps to book a parkingslot in advance for a specific time duration.</P>
<p>Sensor data collection- data collection is easy and accurate</p>
<p>Time extension- this feature allows users to exend their parking time due to any reason by paying an additional fee</p>
<p>Subscrioption plan- allows users to purchase a plan and book a slot for their daily commute </p>
<p>Zone management- with this feature, the admin can manage multiple parking in a location simulteneuosly without any hussle</p>
<p>Vehicle-with this feature, users can update the vehecle information,which allows application to find a parking space per reqiurement</p>

{%endblock%}