{%extends "components/layout.html"%} {%block sub_title%}Homepage{%endblock%}
{%block content%} {%include "components/navbar.html" %}

<section class="o-row o-row--md u-pt-clear">
  <div class="o-container">
    <article>
      <div class="o-layout">
        <div class="o-layout__item u-1-of-2-bp3 o-layout-padding--righ">
          <h2>Remote access</h2>
          <p>
            If the barrier doesn't open automatically you can open it via this
            page.
          </p>

          <a class="c-link-cta c-link-cta--lg" id="servo" href="#!"> Open </a>
        </div>
      </div>
    </article>
  </div>
</section>

{%endblock%}
