{%extends "components/layout.html"%}
{%block sub_title%}Homepage{%endblock%}
{%block content%}

{%include "components/navbar.html" %}

<section class="o-row o-row--md u-pt-clear">
    <div class="o-container">
        <article>
            <div class="o-layout o-layout--justify-center o-layout--align-center o-layout--row-reverse">
                <div class="o-layout__item u-1-of-2-bp3">
                    <figure class=" c-figure u-margin-0">
                        <img src="static/parking/images/aerial-photography-car-park-parking-area.jpg">
                    </figure>
                </div>
                <div class="o-layout__item u-1-of-2-bp3 o-layout-padding--right ">
                    <h2>
                        Why you would want
                        to use smart park.
                    </h2>
                    <p>
                        Smart park is a system that makes the simple
                        everyday parking lot a lot more user friendly. It
                        has sensors on every spot so you can check online
                        if there is any space left. Getting in is easy as the sensor
                        is on your car so no looking for your badge and hanging
                        out of your window.
                    </p>
                    <a class="c-link-cta c-link-cta--lg" href="#!">
                        Try it out
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="o-row o-row--lg u-pt-clear">
    <div class="o-container">
        <article>
            <div class="o-layout o-layout--justify-center o-layout--gutter-lg">
                <div class="o-layout__item">
                    <h2 align="center">
                        What we are trying <br>
                        to do.
                    </h2>
                </div>
                <div class="o-layout__item u-1-of-3-bp3">
                    <img src="static/parking/images/car-car-interior-cellphone-804128.jpg" alt="">
                    <h3>
                        For your company
                    </h3>
                    <p>
                        Smart park is a system that helps your
                        staff park there car easy without looking
                        for a spot. The sensor on the car makes
                        sure no one can get in without your
                        permission.
                    </p>
                </div>
                <div class="o-layout__item u-1-of-3-bp3">
                    <img src="static/images/numbered.png" alt="">
                    <h3>
                        Easy to use
                    </h3>
                    <p>
                        Smart park has a very user friendly web
                        UI. This can help you to reserve your
                        favorite spot. Watch live if there is a
                        spot left at your preferred lot and can
                        give you access if there is something
                        wrong with your sensor or if you are
                        driving another vehicle.
                    </p>
                </div>
                <div class="o-layout__item u-1-of-3-bp3">
                    <img src="static/parking/images/automaticbarrier.jpg" alt="">
                    <h3>
                        Fully automatic
                    </h3>
                    <p>
                        Smart park is fully automatic so you don't
                        need to worry about anything. From
                        entering to parking to the moment you
                        exit you don't need to worry about
                        anything.
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
<aside class="c-mobile-nav">
    <div class="c-mobile-nav__bg"></div>
    <div class="c-mobile-nav__body">
        <div class="c-mobile-nav__header"></div>
        <div class="c-mobile-nav__nav c-mobile-nav__nav--main"></div>
        <div class="c-mobile-nav__nav"></div>
    </div>
</aside>
{% endblock %}